# =========================
# 🔹 Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
ENV/
.venv/

# =========================
# 🔹 Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# 🔹 Data Files
# =========================
data/raw/
data/processed/
*.csv
*.xlsx
*.json

# لو عايز تسيب sample صغير بس:
!data/raw/sample.csv

# =========================
# 🔹 Models
# =========================
models/
*.h5
*.pkl
*.joblib
*.zip  # RL agents

# =========================
# 🔹 Logs
# =========================
logs/
*.log

# =========================
# 🔹 OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# 🔹 IDEs
# =========================
.vscode/
.idea/

# =========================
# 🔹 FastAPI / Server
# =========================
*.db
*.sqlite3

# =========================
# 🔹 Environment Variables
# =========================
.env

# =========================
# 🔹 Build / Cache
# =========================
dist/
build/
*.egg-info/



new_env/
__pycache__/
*.pyc
.venv/
env/